<div class="grid grid-cols-4 gap-5 text-center container">
    <div *ngFor="let product of products">
        <div
            class="hover:border-1 flex flex-col relative transition-all ease-in-out hover:border-gray-300 hover:rounded-md hover:scale-95 hover:shadow-md hover:shadow-slate-500 p-3"
        >
            <a class="proDetails flex-shrink-0" href="">
                <img
                    class="w-full object-cover"
                    src="{{ product.img }}"
                    alt=""
                />
            </a>
            <span
                class="absolute bg-red-700 p-1 text-white text-sm bottom-[88%] right-[78%]"
            >
                {{ product.sale }}%
            </span>
            <div class="flex flex-col flex-1 mt-auto font-semibold my-4">
                <h1 class="text-xl my-2">{{ product.name }}</h1>
                <p class="text-red-700 mt-auto flex-shrink-0">
                    <span class="text-lg">
                        {{
                            product.price - (product.price * product.sale) / 100
                        }}
                    </span>
                    <span class="underline">đ</span>
                    <sub
                        class="line-through font-light text-gray-600 text-sm italic"
                    >
                        {{ product.price }}
                    </sub>
                </p>
            </div>
            <button
                class="text-red-700 font-semibold bg-white border-2 mt-auto border-red-700 rounded-md hover:bg-red-700 hover:text-white p-4"
            >
                Mua Ngay
            </button>
        </div>
    </div>
</div>
