<div class="px-5 my-5">
    <div class="grid grid-cols-2 gap-4 justify-evenly items-center">
        <div class="w-full">
            <img class="mx-auto object-cover" [src]="details.img" alt="" />
        </div>
        <div class="">
            <h2 class="font-semibold uppercase text-3xl">
                {{ details.name }}
            </h2>
            <div class="flex mb-16 justify-between my-3 font-light">
                <p>Lượt xem: {{ details.view }}</p>
                <p>Mã sản phẩm: {{ details._id }}</p>
            </div>
            <p class="text-red-700 text-xl mt-auto flex-shrink-0">
                <span class="text-lg">{{ details.price }}</span>
                <span class="underline">đ</span>
                <sub class="line-through font-light text-gray-600 text-sm">
                    {{ details.price }}đ
                </sub>
            </p>
            <p class="my-4">Mô tả: {{ details.des }}</p>
        </div>
    </div>
</div>

<h1 class="text-2xl font-bold my-10">Sản phẩm liên quan:</h1>

<div class="grid grid-cols-4 gap-5 text-center">
    <!-- {relatedProducts && relatedProducts.map((item, i) => <ProductCard key={i} product={item as Product} />)} -->
</div>
