<div>
    <img
        src="assets/img/bn.jpg"
        class="w-full h-[500px] object-contain"
        alt=""
    />
</div>
<div class="px-5">
    <div class="flex justify-between my-5">
        <div class="text-center w-56">
            <img class="mx-auto my-4" src="assets/img/tietkiem.jpg" alt="" />
            <h4 class="font-semibold text-xl">Mua hàng siêu tiết kiệm</h4>
            <p class="mt-1 font-light text-sm">
                Các sản phẩm luôn được bán với giá ưu đãi nhất
            </p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="assets/img/khuyenmai.jpg" alt="" />
            <h4 class="font-semibold text-xl">Khuyến mãi cực lớn</h4>
            <p class="mt-1 font-light text-sm">
                Được hưởng chương trình và các khuyến mãi cực lớn
            </p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="assets/img/chatluong.jpg" alt="" />
            <h4 class="font-semibold text-xl">Chất lượng</h4>
            <p class="mt-1 font-light text-sm">
                Nguyên liệu đảm bảo vệ sinh an toàn vệ sinh thực phẩm
            </p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="assets/img/thanhtoan.jpg" alt="" />
            <h4 class="font-semibold text-xl">Thanh toán dễ dàng</h4>
            <p class="mt-1 font-light text-sm">
                Trả tiền khi nhận hàng
                <br />
                <span>(COD)</span>
            </p>
        </div>
    </div>
    <h1 class="text-2xl font-bold my-10">Sản phẩm của chúng tôi:</h1>

    <!-- <div class='grid grid-cols-4 gap-5 text-center container'>
      {productsList.map((item, i) => (
        <ProductCard key={i} product={item} />
      ))}
    </div> -->
</div>
